.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.info {
  display: flex;
  padding-right: 10px;
  width: 700px;

  h1 {
    font-size: 60px;
    text-align: start;
    color: #333333;
  }
}

.main_content {
  padding: 20px;
  width: 500px;

  h2 {
    font-size: 20px;
    width: 100%;
    color: #333333;
  }
}


