.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 30px;
}

.info {
  display: flex;
  padding-right: 10px;
  width: 60%;
}

.main_content {
  padding: 20px;
  width: 35%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 20px;
  width: 100%;
}

