header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
    color: #607CE6;
}
.logo-wrapper{
    display: flex;
}
.logo img {
    max-width: 100%;
    height: auto;
    width: 64px;
}
h1 {
    margin: 1px;
    margin-left: 10px ;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 48px;
}
.header-text {
    padding-top: 1px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
p {
    margin: 10px;
    font-size: 12px;
}